*
  padding: 0
  margin: 0
  box-sizing: border-box

body
  background-color: var(--background-color)
  color: var(--text-color)
.button__container
  width: 100%
  display: flex
  justify-content: flex-end
  margin: 20px 0
  padding-right: 15px

:root
  --text-color: black
  --background-color: white
  --box-color: black
